.selectFilm{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4)
}
.open{
    display: block;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -220px 0 0 -250px;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
}
.content{
    width: 256px;
    margin: 50px auto;
}
.content .property{
    width: 256px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}
.content button{
    height: 22px;
    line-height: 10px;
    margin: 10px 5px;
    outline: none;
}
.selectClose{
    display: block;
    float: right;
    cursor: pointer;
    margin: 10px 20px 0 0;
    color: black;
}
.selectClose:hover{
    transform: rotate(90deg);
    transition: ease .5s;
    color: lightseagreen;
}
.fa-shopping-basket{
    cursor: pointer;
}