.App-header {
  position: relative;
  text-align: center;
  background-color: #222;
  height: 140px;
  padding: 20px;
  color: white;
}
.lefts-spin{
  position: absolute;
  top: 10px;
  left: 100px;
  opacity: .1;
}
.one-spin{
  position: absolute;
  top: 10px;
  left: 10px;
}
.two-spin{
  position: absolute;
  top: 60px;
  left: 40px;
}
.three-spin{
  position: absolute;
  top: 50px;
  left: 65px;
}
.App-header>h2{
  margin: 0;
  font-size: 34px;
}
.App-header>h4{
  color: lightsalmon;
  font-size: 12px;
}
.header-menu{
    margin: 0 auto;
    padding: 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header-menu a{
  display: inline-block;
  padding: 5px;
}
.header-menu a.disabled {
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */
    color: #999; /* цвет текста для нективной ссылки */
}
.header-menu a:hover{
  cursor: pointer;
  color: yellow;
}

.App-header .loader{
  display: none;
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin: 0 0 0 -27px;
  z-index: 1000;
  color: lightseagreen;
}
.App-header .src{
  position: absolute;
  bottom: 20px;
  right: 45px;
  font-size: 12px;
}
.src i{
  font-size: 14px;
  margin: 0 5px 0 0 ;
}