.login,.auth{
    padding: 0 50px;
    width: 400px;
    margin: 0 auto 50px auto;
}
.login .input-group,.auth .input-group{
    margin:15px 0;
}
#auth,.success{
    display: block;
    width: 300px;
    margin: 0 auto;
    color: lightseagreen;
    font-size: 26px;
    text-align: center;
}
.login button, .auth button{
    display: block;
    background-color: #fff;
    color: lightseagreen;
    border: 1px solid lightseagreen;
    border-radius: 2px;
    width: 50px;
    margin: 0 auto;
    outline: none;
}
.login button:hover, .auth button:hover{
    color: #fff;
    background-color: lightseagreen;
    border:1px solid lightseagreen;
}